/* CSS Document */
body {
	font-size: 17px;
	font-family: calibri, arial;
  line-height: 160%;
  color: #333;
	background-color: #FFFFFF;

}
header {
        position: relative;
        z-index: 1;
        background-color: #00497D;
        height: 50px;
        width: 100%;
        padding-bottom: 0px;
        padding-top: 5px;
        margin: 0px;
        overflow: hidden;
        top:0px;

}

.nav {
       display: inline-block;
       position: relative; 
       font-weight: bold;
       font-size: 35;
       padding-left: 20px;
       padding-right: 20px;
       padding-bottom: 0px;
       color: #FFFFFF;
       text-decoration: none;
       border-top: 3px solid transparent;
}
a:hover{
       
}

.sidebar
{
  z-index: 0;
  height: 100%;
  width: 10%;
  position: absolute;
  background-color: #EEEEEE;
  overflow-x: hidden;
  padding-top: 70px;
  top: 8px;
  bottom: 8px;

}
.sidebar a
{
  text-align: center;
  padding: 4px 4px 4px 4px;
  margin-bottom: 8px;
  text-decoration: none;
  color: #FFFFFF;
  background: #DE007B;
  display: block;
  border: 2px solid;
  border-color: #DE007B;
}
.sidebar a:hover{
  background-color: #FFFFFF;
  color: #DE007B;

}
a.content
{
  text-align: center;
  padding: 4px 4px 4px 4px;
  margin-bottom: 8px;
  text-decoration: none;
  color: #FFFFFF;
  background: #DE007B;
  display: inline-block;
  border: 2px solid;
  border-color: #DE007B;

}
a.content:hover{
  background-color: #FFFFFF;
  color: #DE007B;

}
.button
{
  text-align: center;
  padding: 4px 4px 4px 4px;
  margin-bottom: 8px;
  text-decoration: none;
  color: #FFFFFF;
  background: #DE007B;
  display: inline-block;
  border: 2px solid;
  border-color: #DE007B;

}
.button:hover{
    background-color: #FFFFFF;
  color: #DE007B;
}
section {
      background-color: #EEEEEE;
      	overflow: auto;
        margin: auto;
	     text-align:center;
	     padding-top: 1em;
        width: 75%;
        padding: 10px;
        height: 100%;
      }
section.wide {
      background-color: #EEEEEE;
        overflow: auto;
        margin: auto;
        margin-top: 25px;
        height: auto;
       text-align:center;
       padding-top: 1em;
        width: auto;
        padding: 10px;
      }
section.small {
      background-color: #EEEEEE;
        overflow: auto;
        margin: auto;
        margin-top: 25px;
        height: auto;
       text-align: auto;
       padding-top: 1em;
        width: 25%;
        padding: 10px;
      }
.small h3
{
  color: #00497D;
}

ul {
  list-style-type: none;
  overflow: hidden;
}
li {
  display: inline;
}

img{
      float: left;
      padding: 10px;
      height: auto;
      width: auto;
}
table {
    border-collapse: collapse;
    width: 100%;
}

.theses th{

    border-color: black;

}
.theses td:nth-child(1){

    border-color: black;
    background-color: #f2f2f2;
}



th, td {
    text-align: left;
    padding: 8px;
    height: 100%;
    border: solid;
}

tr {
  height: 1px
}

tr:nth-child(even)
{background-color: #f2f2f2;}

td:nth-child(1)
{background-color: #00497D;color: #FFFFFF;border-color: black;}

td.sub{background-color: #DE007B;color: #FFFFFF;border-color: black;}

label {
  text-align: left;
  width: 200px;
  display: inline-block;
}


label.evaluation {
  text-align: left;
  width: auto;
  display: initial;
  cursor: pointer;
  display: block;
  text-align: center;
  min-height: 100%;
  height: auto !important;
  height: 100%;
}

td.selected {
  background-color: green;
}

span {
  display: block;
  overflow: hidden;
  padding-right: 8px;
}

th {
    background-color: #00497D;
    color: white;
}

input[type="radio"]{



}
